@charset "utf-8";
/* CSS Document */
body{
	height:100vh;
	background:#CFC;
	margin:0;
	padding:0;
	background-repeat:no-repeat;
	background-size:cover;
}

.chu h3{
	color:#F06;
	position:absolute;
	z-index:999;
	margin-top:-100px;
	padding:0 500px;
}

.dropdown{
	height:50;
	display:inline-block;
	float:right;
}


.nav{
	width:100%;
	height:40px;
	background:#666;
	display:inline-block;
	float:right;
	
}
.loc_danh_sach, .dang_nhap, .them_moi, .doi_mat_khau, .dang_xuat{
	margin:5px 0;
	
}

.them_moi{
	margin-right:5px;
}

.loc_danh_sach{
	margin-right:5px;
}

.doi_mat_khau{
	margin-right:5px;
}

.dang_xuat{
	margin-right: 10px;
}

.dang_nhap{
	margin-right:5px;
	
}

.content{
	min-height: 75vh;
	margin: 0 !important;
}
.footer{margin-top: 0 !important;
color: white;
padding: 10px 20px;}
